.card {
  box-sizing: border-box;
  max-width: 584px;
  max-height: 214px;
  width: 100%;
  padding: 24px;
  background: #1c1c21;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
}

.card__link {
  color: inherit;
  text-decoration: none;
  display: grid;
  gap: 24px 0;
}

.card__header {
  display: flex;
  justify-content: space-between;
}

.card__burgerComposition {
  display: flex;
  justify-content: space-between;
}

.card__burgerName {
  max-width: 530px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__ingredientsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  max-width: 314px;
}

.card__ingredientImg {
  height: 56px;
  width: 66px;
  display: block;
  object-fit: cover;
  object-position: center;
}

.card__ingredientItem::before {
  position: absolute;
  content: '';
  top: 2px;
  left: 2px;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-color: #1c1c21;

  z-index: -1;
}

.card__ingredientItem {
  width: 64px;
  height: 64px;
  z-index: 1;
  position: relative;
  border-radius: 100px;
  background: linear-gradient(45deg, #801ab2 0, #4c4cff 100%);
  margin-left: -16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__ingredientExtraItem {
  composes: card__ingredientItem;
}

.card__extraCounter {
  position: absolute;
  background-color: #131316;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__ingredientItem:first-of-type {
  margin-left: 0;
}

.card__price {
  display: flex;
  align-items: center;
  justify-content: center;
}
