.ingredientList__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ingredientList__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.ingredientList__item {
  cursor: pointer;
}
