.order {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 40px 0;
  max-width: 640px;
  max-height: 620px;
  width: 100%;
}

.order__num {
  align-self: center;
}

.order__footer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 40px 0 0 0;
}

.order__price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order__ingList {
  box-sizing: border-box;
  margin: 0;
  padding: 0 24px 0 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  max-height: 340px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.order__ingList::-webkit-scrollbar {
  width: 8px;
}

.order__ingList::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.order__ingList::-webkit-scrollbar-track {
  background-color: #2f2f37;
  margin: 20px 0 20px 0;
}
