.order {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 40px 0;
  max-width: 640px;
  max-height: 620px;
  width: 100%;
}

.order__num {
  align-self: center;
}

.order__footer {
  display: flex;
  justify-content: space-between;
}

.order__price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order__ingList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}
