.IngredientDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 520px;
  width: 100%;
}

.IngredientDetails__nutritionList {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
