.statistic {
  max-width: 580px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px 0;
}

.statistic__readiness {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 60px;
}
